{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{current_category.name}}</h2>
                        <div class="breadcrumb__option">
                            <a href="{%url 'home'%}">Home</a>
                            <a href="{%url 'shop_grid'%}">Shop</a>
                            <span>{{current_category.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                {% for category in categories %}
                                <li><a href="{% url 'product_categories' category.cat_id %}">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">

                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{products|length}}</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{product.prod_image_url}}">
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{%url 'product_detail' product.prod_id %}">{{product.name}}</a></h6>
                                    <h5>{{product.price}} THB</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        {% for num in products.paginator.page_range %}
                            {% if products.number == num %}
                                <a href="?page={{ num }}" class="active">{{ num }}</a>
                            {% else %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock %}